<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e535df6a4768c8e6748c90e709af04:f8e20ea55a4606c7ce23f90f0b2f0c9a:4e1c5a1646d6436d374fde42d6a4bef8$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Fishtales.1.png</string>
                <key>size</key>
                <string>{1106,2042}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>pausebg.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{960,430}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{960,430}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish7.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{963,1},{132,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>water4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{7,7}</string>
                        <key>textureRect</key>
                        <string>{{1097,1},{7,7}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>water5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{5,5}</string>
                        <key>textureRect</key>
                        <string>{{1097,10},{5,5}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish8.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{963,191},{132,186}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish6.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{963,379},{130,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>water3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{9,9}</string>
                        <key>textureRect</key>
                        <string>{{1095,379},{9,9}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>completebg.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{740,522}</string>
                        <key>textureRect</key>
                        <string>{{1,433},{740,522}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Startfish3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{166,167}</string>
                        <key>textureRect</key>
                        <string>{{743,433},{167,166}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>howtoplayT.png</string>
                        <key>spriteOffset</key>
                        <string>{118,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{472,48}</string>
                        <key>textureRect</key>
                        <string>{{912,433},{38,230}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish9.png</string>
                        <key>spriteOffset</key>
                        <string>{1,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{952,569},{132,184}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>progressk.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,12}</string>
                        <key>textureRect</key>
                        <string>{{1086,569},{12,150}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>water1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{13,13}</string>
                        <key>textureRect</key>
                        <string>{{1086,721},{13,13}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>water2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{11,11}</string>
                        <key>textureRect</key>
                        <string>{{1086,736},{11,11}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{743,601},{130,186}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>gobuy.png</string>
                        <key>spriteOffset</key>
                        <string>{32,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{142,41}</string>
                        <key>textureRect</key>
                        <string>{{875,601},{29,82}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>progress.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,45}</string>
                        <key>textureRect</key>
                        <string>{{906,665},{43,150}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>btn2_up.png</string>
                        <key>spriteOffset</key>
                        <string>{20,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{112,34}</string>
                        <key>textureRect</key>
                        <string>{{875,685},{26,72}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>btn2_dw.png</string>
                        <key>spriteOffset</key>
                        <string>{20,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{112,34}</string>
                        <key>textureRect</key>
                        <string>{{875,759},{26,72}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{743,789},{130,186}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish10.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{951,755},{132,182}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fishlife.png</string>
                        <key>spriteOffset</key>
                        <string>{5,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{109,44}</string>
                        <key>textureRect</key>
                        <string>{{903,817},{42,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>btn1_up.png</string>
                        <key>spriteOffset</key>
                        <string>{6,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,57}</string>
                        <key>textureRect</key>
                        <string>{{875,872},{55,154}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish11.png</string>
                        <key>spriteOffset</key>
                        <string>{1,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{932,939},{132,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>gameoverbg.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{700,480}</string>
                        <key>textureRect</key>
                        <string>{{1,957},{700,480}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish24.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{703,977},{130,182}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene_start_title.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{230,96}</string>
                        <key>textureRect</key>
                        <string>{{835,1028},{92,226}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{703,1161},{130,182}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fishnum.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{441,270}</string>
                        <key>textureRect</key>
                        <string>{{835,1256},{270,441}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish14.png</string>
                        <key>spriteOffset</key>
                        <string>{3,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{929,1121},{176,128}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish3.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{703,1345},{128,184}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>howtoplay.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{472,476}</string>
                        <key>textureRect</key>
                        <string>{{1,1439},{424,472}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{1,1913},{184,128}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish23.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{187,1913},{182,128}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish22.png</string>
                        <key>spriteOffset</key>
                        <string>{5,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{371,1913},{182,124}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish13.png</string>
                        <key>spriteOffset</key>
                        <string>{2,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{555,1439},{130,178}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish21.png</string>
                        <key>spriteOffset</key>
                        <string>{6,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{427,1439},{122,182}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish12.png</string>
                        <key>spriteOffset</key>
                        <string>{2,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{687,1531},{130,178}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish15.png</string>
                        <key>spriteOffset</key>
                        <string>{5,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{551,1619},{126,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish20.png</string>
                        <key>spriteOffset</key>
                        <string>{6,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{427,1623},{122,180}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Startfish2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{111,112}</string>
                        <key>textureRect</key>
                        <string>{{551,1797},{111,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cump4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{108,67}</string>
                        <key>textureRect</key>
                        <string>{{427,1805},{108,67}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish18.png</string>
                        <key>spriteOffset</key>
                        <string>{5,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{555,1911},{176,124}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>btn1_dw.png</string>
                        <key>spriteOffset</key>
                        <string>{4,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,57}</string>
                        <key>textureRect</key>
                        <string>{{664,1797},{152,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cump3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,58}</string>
                        <key>textureRect</key>
                        <string>{{664,1850},{80,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish17.png</string>
                        <key>spriteOffset</key>
                        <string>{6,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{733,1910},{176,124}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>gold.png</string>
                        <key>spriteOffset</key>
                        <string>{7,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{109,44}</string>
                        <key>textureRect</key>
                        <string>{{746,1850},{42,51}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>pause_up.png</string>
                        <key>spriteOffset</key>
                        <string>{16,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{74,74}</string>
                        <key>textureRect</key>
                        <string>{{790,1850},{42,42}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish16.png</string>
                        <key>spriteOffset</key>
                        <string>{5,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{818,1711},{176,124}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cump5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{108,63}</string>
                        <key>textureRect</key>
                        <string>{{679,1711},{108,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cump2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{108,63}</string>
                        <key>textureRect</key>
                        <string>{{834,1837},{108,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jellyfish19.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{134,188}</string>
                        <key>textureRect</key>
                        <string>{{911,1902},{178,122}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>pause_dw.png</string>
                        <key>spriteOffset</key>
                        <string>{17,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{74,74}</string>
                        <key>textureRect</key>
                        <string>{{944,1837},{40,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cump1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,64}</string>
                        <key>textureRect</key>
                        <string>{{996,1699},{90,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Startfish.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{71,72}</string>
                        <key>textureRect</key>
                        <string>{{996,1765},{72,71}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
